<div class="page-header">
  <h1>Contact</h1>
</div>

<div class="page-header">
  <h2>Email</h2>
</div>
<div class="panel panel-default" id=contact>
  <div class="panel-body">
    <p>
      This is probably the best way to contact me.  My email address is:
      <address>
        <a href="mailto:kacasey@berkeley.edu">kacasey@berkeley.edu</a>
      </address>
    </p>
  </div>
</div>

<div class="page-header">
  <h2>Other</h2>
</div>
<div class="panel panel-default" id=othercontact>
  <div class="panel-body">
    <ul>
      <li><%= link_to "Github", "http://github.com/Fortisque" %></li>
      <li><%= link_to "Facebook", "https://www.facebook.com/kevin.casey.1612" %></li>
      <li><%= link_to "Linkedin", "https://www.linkedin.com/profile/view?id=205206080" %></li>
    </ul>
  </div>
</div>
