<div class="page-header">
  <h2>Education</h2>
</div>
<div class="panel panel-default" id='education'>
  <div class="panel-body">
    <h3>University of California, Berkeley</h3>
    <h4>B.S. Electrical Engineering and Computer Science (EECS)</h4>
    <p>
      <b>Expected Graduation:</b> May 2016<br>
      <b>GPA:</b> 3.9
    </p>
    <b>Relevant Coursework:</b>
    <p>
      CS161 (Security), CS162 (Operating Systems), CS169 (RoR, Software Engineering), CS188 (Artifical Intelligence), IEOR190C (Mobile Entrepreneurship), CS98 (iOS, Objective C)
      CS170 (Algorithms), CS172 (Computability and Complexity),
      CS61C (C, Machine Structures), CS61B (Java, Data Structures), CS61A (Python)
      EE40 (Microelectronic Circuits), EE20 (Systems and Signals)
    </p>
  </div>
</div>

<div class="page-header">
  <h2>Activities</h2>
</div>
<div class="panel panel-default" id='activites'>
  <div class="panel-body">
    <h3>HKN - EECS Honor Society (Fall 2013 - Spring 2014)</h3>
    <p>
      Spring 2014 (Computing Services Officer) - Tutoring in office hours, 
      developing the <a href="http://hkn.eecs.berkeley.edu">HKN website</a> (Ruby On Rails) 
      and acting as a sysadmin by maintaining user accounts and mailing lists.
    </p>
    <p>
      Fall 2013 (Bridge Candidate) - Was chosen from the top 25% of 
      juniors and 33% of seniors to be invited to join HKN
    </p>
  </div>
</div>

<div class="page-header">
  <h2>Skills</h2>
</div>
<div class="panel panel-default" id='skills'>
  <div class="panel-body">
    <h3>Proficent In</h3>
    <p>
      Ruby (on Rails), Python, HTML5, Javascript/JQuery, CSS, Google Apps Script, Google App Engine (Python)
    </p>
    <h3>Experience With</h3>
    <p>
      Java, Objective-C, C
    </p>
    <h3>Familar With</h3>
    <p>
      Angular, Django, Bottle, Node JS, Meteor, Android
    </p>
    <h3>Software</h3>
    <p>
      Mac OS X, Unix
    </p>
  </div>
</div>
