<div class="page-header">
  <h1>Experience</h1>
</div>

<div class="page-header">
  <h2>Industry</h2>
</div>
<div class="panel panel-default" id='godaddy'>
  <div class="panel-body">
    <h4>GoDaddy</h4>
    <p>
      In the summer of 2014 I worked as a Software Development Intern at GoDaddy.  I worked on
      the Online Store product, which is designed to allow nontechnical people to construct a
      quick shopping cart.  Online Store is built off and contributes back to
      <a href="http://www.github.com/spree/spree">spree.</a> I tackled a variety of bugs 
      and worked on features such as internationalization, internal analytics and allowing 
      merchants to have custom code in their sites.  We also created a spree extension called <a href="http://www.github.com/godaddy/spree_plugins">SpreePlugins</a> that allows mechants to easily insert scripts onto their products page, such as share buttons or comment threads.
    </p>
  </div>
</div>

<div id="opensourceheader" style="padding-bottom: 20px;"></div>
<div class="page-header">
  <h2>Open Source</h2>
</div>
<div class="panel panel-default" id='open_source'>
  <div class="panel-body">
    <h4>Facebook Open Academy</h4>
    <p>
      After taking CS169 the professor Armando Fox invited me to attend Facebook's Open Academy,
      so over the Spring of 2014 I directly worked with part of the Rails Core Team mentors (such as <a href="https://github.com/tenderlove">Aaron</a> and <a href="https://github.com/matthewd"> Matthew</a>) and students from other universities to contribute to <a href="http://www.github.com/rails/rails">Rails.</a>
    </p>
  </div>
</div>

<div id="teacherheader" style="padding-bottom: 20px;"></div>
<div class="page-header">
  <h2>Berkeley Teacher</h2>
</div>
<div class="panel panel-default" id='teacher'>
  <div class="panel-body">
    <h4>CS169 (Software Engineering) - Teaching Assistant</h4>
    <h4>Fall 2014</h4>
    <p>
      I'm currently one of the TA's (Teaching Assistant) for CS169 (Software Engineering).  I will be acting as a mentor to the 7 teams I am in charge of and will be resposible for grading their work, generating quiz/midterm questions and most importantly teaching the students!
    </p>
  </div>
</div>
<div class="panel panel-default" id='teacher'>
  <div class="panel-body">
    <h4>CS169 (Software Engineering) - Grader</h4>
    <h4>Spring 2014</h4>
    <p>
      I was the one and only grader for the CS169 (Software Engineering) class. I graded work from the students that come in either as Rails, Django or Node.js. We use google docs/spreadsheets in order to share information among the teaching staff and I wrote a lot of scripts using Google Apps Scripts (similar to javascript) in order to assign stable teams, facilitate anonymous team evaluation and autograde. We use google spreadsheets as our database, scripts as our controller and forms for our views, creating an infrastructure like that of a light website.
    </p>
  </div>
</div>
<div class="panel panel-default" id='teacher'>
  <div class="panel-body">
    <h4>CS61C (Machine Structures) - Lab Assistant</h4>
    <h4>Fall 2013</h4>
    <p>
      I was a lab assistant for both CS61C and CS61A, two of the undergrad CS classes.  I helped explain various concepts to
      students through lab exercises and office hours. I graded labs and verified understanding and completeness.
    </p>
  </div>
</div>
