<div class="page-header">
  <h1>Experience</h1>
</div>

<div class="page-header">
  <h2>Open Source</h2>
</div>
<div class="panel panel-default" id=open_source>
  <div class="panel-body">
    <h4>Facebook Open Academy</h4>
    <p>
      After taking CS169 the professor Armando Fox invited me to attend Facebook's Open Academy,
      so over the Spring of 2014 I directly worked with part of the Rails Core Team mentors and
      students from other universities to contribute to <a href="http://www.github.com/rails/rails">Rails</a>
    </p>
  </div>
</div>

<div class="page-header">
  <h2>Berkeley Academic Intern</h2>
</div>
<div class="panel panel-default" id=berkeley>
  <div class="panel-body">
    <h4>Spring 2014</h4>
    <p>
      I'm currently the one and only grader for the CS169 (Software Engineering) class. I grade work from the students that can
      come in either as Rails, Django or Node.js. We use google in order to share information abmong the
      teaching staff and I wrote a lot of scripts using Google Apps Scripts (similar to javascript) in
      order to assign stable teams, facilitate anonymous team evaluation and autograde. We use google spreadsheets as our
      database, scripts as our controller and forms for our views, creating an infrastructure like that of a
      light website.
    </p>
  </div>
</div>
<div class="panel panel-default" id=berkeley>
  <div class="panel-body">
    <h4>Fall 2013</h4>
    <p>
      I was a lab assistant for both CS61C and CS61A, two of the undergrad CS classes.  I helped explain various concepts to
      students through lab exercises and office hours. I graded labs and verified understanding and completeness.
    </p>
  </div>
</div>
