<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'About Me' %></h1>
</div>
<p>
  Hi, I'm Kevin Casey, a student at the University of California Berkeley studying Electrical Engineering in Computer Science.
  This summer I'll be working at GoDaddy and I'm super excited to start applying what I learned in school to the real world!
  In terms of programming I fall more on the hacker side, relying on the ability to turn impractical ideas into reality.
  On this site you can find <a href="/projects">projects</a> I've worked on, my <a href="/experience">experience</a>,
  my <a href="/kevincaseyresume.pdf">resume</a> and my <a href="/contact">contact info</a>. Thanks for visiting my site.
</p>

<div class="page-header">
  <h1><%=t '.title', :default => 'About This Site' %></h1>
</div>
<p>
  This site was built using Ruby on Rails and (as you can probably tell) is currently hosted on heroku and if your interested
  the code backing this is located on <a href="https://github.com/Fortisque/kevincasey">GitHub</a>.  I know that using Rails
  is somewhat overkill for hosting what is basically a static site, but I really love developing in Rails!
 </p>
