<div class="page-header">
  <h1>About Me</h1>
</div>
<div class="panel panel-default" id=homeme>
  <div class="panel-body">
    Hi, I'm Kevin Casey, a student at the University of California Berkeley studying Electrical Engineering and Computer Science.
    Last summer I worked as a Software Engineering Intern at Godaddy, my first experience working in industry.
    <ul>
      <li>I'm a hacker: relying on the ability to turn impractical ideas into reality.</li>
      <li>I'm a devleoper: finding innovative solutions to problems.</li>
    </ul>
    On this site you can find <a href="/projects">projects</a> I've worked on, my <a href="/experience">experience</a>,
    my <a href="/kevincaseyresume.pdf">resume</a> and my <a href="/contact">contact info</a>. Thanks for visiting my site.
  </div>
</div>

<div class="page-header">
  <h1>About This Site</h1>
</div>
<div class="panel panel-default" id=homesite>
  <div class="panel-body">
    This site was built using Ruby on Rails and (as you can probably tell) is currently hosted on heroku and if your interested
    the code backing this is located on <a href="https://github.com/Fortisque/kevincasey">GitHub</a>.  I know that using Rails
    is somewhat overkill for hosting what is basically a static site, but I really love developing in Rails!
  </div>
</div>
