<div class="page-header">
  <h1>Resume</h1>
</div>

<div class="panel panel-default" id=resume_link>
  <div class="panel-body">
    Below is a (more descriptive) version of my resume.
    PDF version available here: <a href="/kevincaseyresume.pdf">PDF</a>
  </div>
</div>

<div class="page-header" id=education>
  <h2>Education</h2>
</div>
<div class="panel panel-default" id=education>
  <div class="panel-body">
    <h3>University of California, Berkeley</h3>
    <h4>B.S. Electrical Engineering and Computer Science (EECS) 2016</h4>
    Relevant Coursework
    <p>
      CS161 (Security), CS169 (RoR, Software Engineering), CS188 (Artifical Intelligence),
      CS170 (Algorithms), CS61C (C, Machine Structures), CS61B (Java, Data Structures),
      CS61A (Python), CS98 (iOS Objective C), EE40 (Microelectronic Circuits)
    </p>
  </div>
</div>

<div class="page-header" id=projectsexperience>
  <h2>Projects/Experience</h2>
</div>
<div class="panel panel-default" id=projectsexperience>
  <div class="panel-body">
    See my <a href="/projects">projects</a> or <a href="/experience">experience</a>
  </div>
</div>

<div class="page-header" id=activites>
  <h2>Activities</h2>
</div>
<div class="panel panel-default" id=activites>
  <div class="panel-body">
    <h3>HKN - EECS Honor Society (Fall 2013 - Present)</h3>
    <p>
      Fall 2013 (Bridge Candidate) - Was chosen from the top 25% of 
      juniors and 33% of seniors to be invited to join HKN
    </p>
    <p>
      Spring 2014 (Computing Services Officer) - Tutoring in office hours, 
      developing the <a href="www.hkn.eecs.berkeley.edu">HKN website</a> (Ruby On Rails) 
      and acting as a sysadmin by maintaining user accounts and mailing lists.
    </p>
  </div>
</div>

<div class="page-header" id=skills>
  <h2>Skills</h2>
</div>
<div class="panel panel-default" id=skills>
  <div class="panel-body">
    <h3>Proficent In</h3>
    <p>
      Ruby (on Rails), Python, HTML5, Javascript/JQuery, CSS, Google Apps Script
    </p>
    <h3>Experience In</h3>
    <p>
      Java, Objective-C, C, AJAX
    </p>
    <h3>Software</h3>
    <p>
      Mac OS X, Unix
    </p>
  </div>
</div>
