footer 
{
	text-align: center;
}

body {
  background-color:AliceBlue;
  padding-top: 60px;
}

p, address, li {
  font-size: 1.1em;
}

li {
  padding-top:3px;
}

#hackathon {
  border-color:purple;
  border-width:2px;
}

#schoolcontest {
  border-color:green;
  border-width:2px;
}

#personalprojects {
  border-color:red;
  border-width:2px;
}

#contact {
  border-color:Khaki;
  border-width:2px;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css");