footer 
{
	text-align: center;
}

body {
  background-color:AliceBlue;
  padding-top: 60px;
}

p, address, li {
  font-size: 1.1em;
}

li {
  padding-top:3px;
}

#resume_link {
  background-color:rgba(255,0,0, 0.1);
}

#hackathon, #education {
  border-color:purple;
  border-width:2px;
}

#schoolcontest, #berkeley, #projectsexperience {
  border-color:green;
  border-width:2px;
}

#personalprojects, #open_source, #activites {
  border-color:red;
  border-width:2px;
}

#contact, #skills {
  border-color:Khaki;
  border-width:2px;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css");